.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100px;
    padding-inline: 34px;
    border-bottom: 4px solid #13C53E;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(145, 0, 255, 0.24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.25s ease-in-out;
}

.headernoboxshadow {
    box-shadow: none;
}

.logo {
    width: 133px;
    height: 47px;
    position: relative;
}

.navMainContainer {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    color: #442256;
    font-weight: 600;
    line-height: 150%;
}

.mobileBurgerMenu {
    display: none;
}

.offSetMenu {
    display: none;
}

.langContainer {
    display: block;
}

@media screen and (max-width: 768px) {
    .header {
        height: 80px;
        padding-inline: 30px;
    }

    .navMainContainer {
        display: none;
    }

    .logo {
        width: 135.83px;
        height: 48px;
    }

    .langContainer {
        display: none;
    }

    .mobileBurgerMenu {
        display: block;
    }

    .offSetMenu {
        display: block;
        height: 100vh;
        /* width: 100vw; */
        width: auto;
        position: absolute;
        overflow: hidden;
    }
}