.sectionCardContainer {
    height: 500px;
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-top: 100px;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}

.sectionCardContainer .secCardContainerActive {
    height: 100%;
    width: var(--sec-2-width);
    border-radius: 10px;
    position: relative;
}

.secCardContainerActive .contentContainer {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 45%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secCardContainerActive .contentContainer .activeQues {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #442256;
}

.secCardContainerActive .contentContainer .activeDesp {
    color: #442256;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.secCardContainerActive .contentContainer .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    width: 165px;
    padding: 10px 30px;
    background-color: var(--custom-green);
    border-radius: 65px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: white;
    margin-top: 30px;
}

.secCardContainerActive .image[fadehere='1'] {
    animation: fadeIn 300ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.sectionCardContainer .secCard {
    /* width: calc(100% - var(--sec-2-width)); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secCard .card {
    height: 30%;
    width: 261px;
    border-radius: 5px;
    border: 1px solid rgba(133, 12, 124, 0.5);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.secCard .activeCardBorder {
    border: 1px solid transparent !important;
}

.secCard .card .cardQues {
    color: var(--custom-violet);
    font-weight: 600;
}

.secCard .card .cardQuesActive {
    opacity: 0;
}

.secCard .card .active {
    background-color: #FF3DB1;
    transition: all 200ms ease-in-out;
}

.secCard .card .cardpara {
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.secCard .card .cardparaActive {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(var(--custom-light-color), 0.2);
    opacity: 1;
    border-radius: 10px;
    text-align: center;
    display: grid;
    place-content: center;
    color: var(--custom-violet);
    font-weight: 800;
    line-height: 150%;
    font-size: 20px;
    transition: all 200ms ease-in-out;
}

.secCard .card .cardparaActive::before {
    content: "";
    display: block;
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(var(--custom-light-color), 0.2);
}

@media screen and (max-width: 768px) {
    .sectionCardContainer {
        flex-direction: column-reverse;
        height: auto;
        column-gap: normal;
        margin-top: 60px;
        overflow: hidden;
    }

    .sectionCardContainer .secCardContainerActive {
        /* height: 680px; */
        height: 650px;
        border-radius: 0px;
    }

    .secCardContainerActive .contentContainer {
        width: auto;
        left: 0;
        justify-content: flex-end;
        padding-left: 23px;
        padding-right: 23px;
    }

    .sectionCardContainer .secCard {
        flex-direction: row;
        overflow: auto;
        column-gap: 16px;
        white-space: nowrap;
        padding-bottom: 15px;
        align-items: start;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sectionCardContainer .secCard::-webkit-scrollbar {
        display: none;
    }

    .secCard .card {
        width: 190px;
        height: 58px;
        padding: 0;
        display: grid;
        place-content: center;
        flex: 0 0 auto;
    }

    .secCard .card:first-child {
        margin-left: 23px;
    }

    .secCard .card:last-child {
        margin-right: 23px;
    }

    .secCard .card .cardQues,
    .secCard .card .cardpara {
        text-wrap: wrap;
        font-size: 14px;
    }

    .secCard .card .cardQues {
        padding-inline: 8px;
    }

    .secCard .card .cardpara {
        /* display: none; */
        position: absolute;
    }

    .secCard .card .cardparaActive {
        /* width: 190px;
        height: 58px; */
    }

    .secCard .card .cardQuesActive {
        display: none;
    }

    .secCard .card .cardparaActive::before {
        display: none;
    }

    .secCardContainerActive .contentContainer .activeQues {
        font-size: 18px;
        padding-bottom: 8px;
    }

    .secCardContainerActive .contentContainer .activeDesp {
        font-size: 24px;
    }

}