@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-green: #13C53E;
  --custom-purple: #850C7C;
  --custom-violet: #442256;
  --custom-light-color: 255, 61, 177;
}


body {}


@import "./swiperCustom.css"