.homePageMainContainer {
    --sec-2-width: 848px;
}

@media screen and (max-width: 768px) {
    .homePageMainContainer {
        --sec-2-width: 100vw;
    }

    .cardContainer {
        justify-content: flex-start;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .cardContainer::-webkit-scrollbar {
        display: none;
    }

}