#home-swiper-custom-pagination {
    position: absolute;
    bottom: 60px;
    left: 50%;
    z-index: 3;
    width: 1140px;
    transform: translateX(-50%);
    
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}

#home-swiper-custom-pagination .swiper-pagination-bullet {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    text-align: center;
    line-height: 30px;
    color: #000;
    opacity: 1;
    background: white;
    transition: all 100ms ease-in-out;
}

#home-swiper-custom-pagination .swiper-pagination-bullet-active {
    color: #fff;
    background: var(--custom-green);
    width: 39px;
    height: 8px;
    border-radius: 6px;
    transition: all 100ms ease-in-out;

}


@media screen and (max-width: 768px) {
    #home-swiper-custom-pagination {
        width: auto;
        left: 23px;
        transform: initial;
    }
}